* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Vazir';
  src: url('Vazir-Bold-FD.woff2') format('woff2'),
       url('Vazir-Bold-FD.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
body{
    font-family: Vazir,Arial, Helvetica, sans-serif;
    background: rgb(48, 47, 47);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
   animation: softPulse 3s ease-in-out infinite;
    border-radius: 14px;
    text-align: center;
    padding: 60px 40px;
    background: linear-gradient(135deg,rgb(140, 31, 155),rgb(25, 2, 72));
    color: white;
}
@keyframes softPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(140, 31, 155, 0.4);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(140, 31, 155, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0  rgba(140, 31, 155, 0.4);
  }
}


.header h1 {
  font-size: 48px;
  font-weight: 900;
  text-shadow: 0 2px 9px ;
  margin: 20px;  
}
.header p{
  text-shadow: 0 2px 9px ;
    font-size: 24px;
    font-weight: 600;
}


.galery { 
  animation: fadeSlide 3.7s ease forwards;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
}
@keyframes fadeSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.galery-item{
    flex:1 1 300px;
    max-width: 400px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 10Ø­x rgba(255, 255, 255, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.galery-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.9);
}
.galery-item img{
   transition: transform 1s ease;
   width: 100%;
   height: 250px;
   object-fit: cover;
   display: block;
}
.galery-item:hover img{
  transform: scale(1.20);
}
.caption{
    animation: shake 2s ease forwards; 
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0); 
}
@keyframes shake {
  0%, 100% { transform: translatey(0); }
  75% { transform: translatey(-8px); }
}



